<ul class="list-unstyled">
  <li *ngFor="let actor of actors$ | async" class="media">
    <img [src]="actor.avatar" class="mr-3">
    <div class="media-body">
      <h2 class="mt-0 mb-1">{{ actor.name }}</h2>
      <hr class="my-4">
      <p>
        {{ actor.bio }}
      </p>
      <p class="float-right">
        <app-pencil-button [routerLink]="[actor.id, 'edit']"></app-pencil-button>
        <app-trash-button (click)="deleteMovie(actor.id)"></app-trash-button>
        <app-add-button routerLink="new"></app-add-button>
      </p>
    </div>
  </li>
</ul>