<ul class="list-unstyled">
  <li *ngFor="let movie of movies$ | async" class="media">
    <img [src]="movie.poster" class="mr-3">
    <div class="media-body">
      <h2 class="mt-0 mb-1">{{ movie.title }}</h2>
      <p>
        <span>{{ movie.genre }}</span>
        <span>{{ movie.releaseDate | date:'yyyy' }}</span>
        <span>{{ movie.runtime }} minutos</span>
        <span *ngIf="movie.inTheater">Em cartaz</span>
        <span *ngIf="!movie.inTheater"><del>Em cartaz</del></span>
      </p>
      <hr class="my-4">
      <p>
        {{ movie.desc }}
      </p>
      <hr class="my-4">
      <p>
        <strong>Diretor:</strong> {{ movie.director.name }}</p>
      <p>
        <strong>Estrelando:</strong>
        <span *ngFor="let actor of movie.actors; last as l">
          {{ actor.name }}<span *ngIf="!l">, </span><span *ngIf="l">.</span>
        </span>
      </p>
    </div>
  </li>
</ul>