<ul class="list-unstyled">
  <li
    *ngFor="let movie of movies$ | async" class="media">
    <img [src]="movie.poster" class="mr-3">
    <div class="media-body">
      <h2 class="mt-0 mb-1">{{ movie.title }}</h2>
      <p>
        <span class="details">{{ movie.genre }}</span>
        <span class="details">{{ movie.releaseDate | date:'yyyy' }}</span>
        <span class="details">{{ movie.runtime }} minutos</span>
        <span *ngIf="movie.inTheater" class="details">Em cartaz</span>
        <span *ngIf="!movie.inTheater" class="details"><del>Em cartaz</del></span>
      </p>
      <hr class="my-4">
      <p>
        {{ movie.desc }}
      </p>
      <hr class="my-4">
      <p>
        <strong>Diretor:</strong> {{ movie.director.name }}</p>
      <p>
        <strong>Estrelando:</strong>
        <span *ngFor="let actor of movie.actors; last as l">
          {{ actor.name }}<span *ngIf="!l">, </span><span *ngIf="l">.</span>
        </span>
      </p>
      <p class="float-right">
        <app-pencil-button [routerLink]="[movie.id, 'edit']"></app-pencil-button>
        <app-trash-button (click)="deleteMovie(movie.id)"></app-trash-button>
        <app-add-button routerLink="new"></app-add-button>
      </p>
    </div>
  </li>
</ul>
