<app-page-header [title]="pageTitle"></app-page-header>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="title">Título:</label>
          <input
            formControlName="title"
            type="text"
            class="form-control"
            [class.is-invalid]="titleValidation"
            id="title"
            placeholder="Nome do filme">
          <div *ngIf="titleValidation" class="invalid-feedback">
            O nome do filme é obrigatório.
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="poster">Poster:</label>
          <input formControlName="poster" type="text" class="form-control" id="poster" placeholder="URL do poster do filme">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="mb-3">
      <label for="desc">Sinopse:</label>
      <textarea formControlName="desc" class="form-control" id="desc" placeholder="Descrição do filme..."></textarea>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="directorId">Diretor:</label>
          <select formControlName="directorId" [class.is-invalid]="directorValidation" class="custom-select form-control" id="directorId" size="1">
            <option *ngFor="let director of directors$ | async" [value]="director.id">{{ director.name }}</option>
          </select>
          <div *ngIf="directorValidation" class="invalid-feedback">
            O nome do filme é obrigatório.
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="genre">Gênero:</label>
          <select formControlName="genre" class="form-control" [class.is-invalid]="genreValidation" id="genre">
            <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
          </select>
        </div>
        <div *ngIf="genreValidation" class="invalid-feedback">
          O nome do filme é obrigatório.
        </div>
      </div>
      <div class="col-sm">
        <div>
          <label for="actors">Atores:</label>
          <ng-select
            bindLabel="name"
            [items]="actors$ | async"
            placeholder="Select item"
            appendTo="body"
            multiple="true"
            (change)=onSelectChange($event)>
            <ng-option
              [value]="actor.id"
              [disabled]="actor.id"
              *ngFor="let actor of actors$ | async; index as i">
                {{ actor.name }}
            </ng-option>
          </ng-select>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="date">Data de lançamento:</label>
          <input formControlName="releaseDate" type="date" class="form-control" id="date" placeholder="Example input placeholder">
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label for="runtime">Duração:</label>
          <input formControlName="runtime" type="text" class="form-control" id="runtime" placeholder="Example input placeholder">
        </div>
      </div>
      <div class="col-sm">
        <div class="form-group">
          <label>Em cartaz:</label><br>
          <div (click)="setInTheater()" class="btn-group">
            <label class="btn btn-outline-dark" [class.active]="inTheater">sim</label>
            <label class="btn btn-outline-dark" [class.active]="!inTheater">não</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="float-right">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button (click)="onReset()" type="reset" class="btn btn-outline-danger">Reset</button>
    </div>
  </div>
</form>
